---
layout: default
---
<div class="flex-container">
  {% include header.html %}
  <img src="{{site.baseurl}}/assets/img/ynursery2.jpeg">
  <div class="content wrapper">
  	<br>
  	<p><strong>Welcome to Yashaswi Nursery, Puttur. We make premium grafts of cashew, pepper, and seedlings of coconut and arecanut. Please click any of the plants below for more details.</strong></p>
    {{ content }}
  {% include search.html %}
  {% include pagination.html %}
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div>
